@import "reset"

#canvasHolder
    width: 100%
    height: 100vh
    position: absolute
    top: 0

.container
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    width: 50%

.menu
    background: skyblue
    height: 100vh
    width: 100%
    position: absolute
    top: 0
    left: 0
    text-align: center

    h1
        margin-bottom: 100px

    ul
        list-style: none

        li
            margin: 20px 0
            width: 100%
            height: 50px
            background: orange
            color: white
            line-height: 50px

.close
    z-index: 0

.open
    z-index: 100
